@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;

    display: flex;
    flex-direction: column;

    color: #444;

    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

header {
    height: 56px;
    padding: 16px;
    display: flex;
    align-items: center;

    background: #3F51B5;
    color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header h1 {
    font-size: 20px;
    font-weight: normal;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px;

    overflow-y: scroll;
    background: #ECECEC;
}

main section#content {
    background: white;
    padding: 16px;

    width: 100%;
    max-width: 800px;

    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main section#content img {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;

    background: white;
    color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav a {
    max-width: 168px;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
}

nav a:active {
    color: #3F51B5;
}

button {
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #009688;
    color: rgba(255,255,255, 0.84);
    text-transform: uppercase;
    padding: 8px 30px;
    margin: 10px 1px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
